.wrap {
    min-height: 100vh;
    width: 100%;
    background-color: var(--c-bg);
    color: white;
    display: flex;
    justify-content: center;
}

.content {
    min-height: 100vh;
    width: 1080px;
    padding: 20px;
}

.pozery-bg {
    background: url('./../assets/pozerybg.jpg');
}